.marketplace-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.marketplace-card {
  width: 400px; /* Adjusted width for better readability */
  min-height: 300px; /* Set minimum height to ensure content visibility */
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-decoration: none;
  color: #111;
  display: flex;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.marketplace-card:hover {
  transform: translateY(-5px);
}

.green-card {
  background-color: #defade;
}

.orange-card {
  background-color: #ffe8cc;
}

.red-card {
  background-color: #ffd4d4;
}

.image-container {
  width: 150px; /* Adjusted width for the image container */
  margin-right: 20px;
}

.product-image {
  width: 100%; /* Ensure image fills the container */
  height: auto; /* Allow height to adjust according to the aspect ratio */
  border-radius: 8px;
}

.product-details {
  flex: 1;
}

.product-details h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.product-details p {
  margin: 8px 0;
}

.view-more {
  margin-top: auto;
  text-decoration: underline;
  cursor: pointer;
  color: #007bff;
}
